@import url('https://fonts.googleapis.com/css?family=Comfortaa&display=swap');

$option-background: hsl(0, 0%, 100%);
$option-background-hover: hsl(0, 5%, 96%);
$primary-color: hsl(171, 100%, 41%);

body{
  font-family: 'Comfortaa', cursive;
  background-color: $primary-color;
}
.hero{
  transform: translateY(30px);
  width: 750px;
  margin:auto;

  .is-size-5{
    font-size:25px;
  }

  .title{
    color:white;
    font-weight: bold;
    text-align: center;
  }

  .subtitle1{
    color:white;
    text-align: center;
  }
  .subtitle2{
    color:white;
    text-align: center;
    font-size:25px;
    font-weight: bold;
  }
}
.option{
  padding: 0.5rem;
  border-radius: 5px;
  margin-bottom: .5rem;
  display: flex;
  align-items: center;
  cursor: pointer;
  font-size: 20px;
  background: $option-background;
  
  &:hover{
    background: $option-background-hover;
    
    span{
      background: $primary-color;
      color: white;
    }
  }
}

.option span{  
  border-radius: 5px;
  border: solid 1px $primary-color;
  padding: .2rem .5rem 0;
  width: 2.5rem;
  margin-right: 1rem;
  display: flex;
  align-items: baseline;
  justify-content: center;
  color: $primary-color;
}

.navigation{
  &:before, &:after{
    content: ' - ';
  }
}
.start-page{
    transform: translateY(130px);
    height:500px;
    width: 500px;
    margin:auto auto;
    background-color: white;
    border-radius: 15px;
    padding: 15px 30px
}
.start-button{
  transform: translateY(10px);
  display: inline-block;
  text-decoration: none;
  padding:10px 30px;
  border:1px solid $primary-color;
  border-radius: 7px;
  font-weight: bold;
}
.start-button:hover{
  background-color: $primary-color;
  color:white
}

//PAGINATION
/* TWELVE */
.pagination {
  transform: translate(-10px,40px);
  a{
    text-decoration: none;
    margin: 8px;
  }
  li{
    list-style-type:none;
    display: inline-block;
    padding:13px 13px;
    font-size: 20px;
    border-radius: 50%;
    background-color: $option-background;
    color: $primary-color;
    font-weight: bold;
  }
  .is-active{
    transform: translateY(-10px);
    color:black;
    transition: transform 2s ;
  }
  li:hover{
    color:black;
    background-color: $option-background-hover;
  }
}

            /* TIMER */
.timer{
  
  p{
    text-align: center;
  }
  h1{
    display: inline-block;
    font-size: 50px;
    color: white;
  }
}